# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environment
venv/
ENV/
env/

# Allure reports and temporary data
allure-results/
allure-report/

# OS temporary files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
